* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 10%;
}

.container {
  box-shadow: 10px -10px 20px #cccc; /*wrt x wrt y wrt blur*/
  padding: 1rem;
  border-radius: 10px;
}

input {
  width: 100%;
  font-size: 1rem;
  padding: 8px 4px;
  margin: 8px 10px;
  border-radius: 10px;
}
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 2px solid green;
  margin: 10px;
  font-size: 1.2rem;
  color: rgb(27, 18, 146);
  cursor: pointer;
  outline: none;
}

p {
  margin: 10px 0px;
}

.img-container {
  text-align: center;
}
