* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

.wholepage {
  /*section*/
  width: 90vw;
  max-width: 1170px;
  margin: 20px;
  display: grid;
  gap: 2rem;
}

.single_book {
  /*article*/
  /* width: 150px; */
  background: #fff;
  padding: 15px;
  border-radius: 1rem;
  /* width: 260px;
  height: 300px; */
}

@media screen and (min-width: 768px) {
  .wholepage {
    grid-template-columns: repeat(3, 1fr);
  }
}

a {
  text-decoration: none;
  color: violet;
}
